.SectionTwo {
    margin-bottom: 200px;
    margin-top: 70px;

    .Content {
        h1 {
            width: 495.03px;
            height: 111px;

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 55.25px;
            line-height: 55px;
        }

        p {
            width: 454.73px;
            height: 91px;
            
            margin-top: 30px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16.25px;
            line-height: 23px;
        }
    }



    .MenuGrid {
        margin-top: 157px;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 200px 65px;

        .CardGrid {
            text-align: center;  

            h1 {
                width: 100%;
                height: 23px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 17.68px;
                line-height: 22px;
                text-align: left;

                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                    height: 100%;
                }
            }

            p {
                margin-top: 20px;
                width: 190px;
                height: 103px;
                
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                text-align: left;

                color: #858585;
            }
        }
    }
}