.SectionFour {
    position: relative;

    .Content {


        h1 {
            width: 371px;
            height: 56px;

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 55.25px;
            line-height: 55px;

            color: #212121;
        }

        p {
            margin-top: 27px;
            width: 503.01px;
            height: 114px;
            
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16.25px;
            line-height: 23px;
            
            
            
            color: #212121;
        }
    }

    .GridMenu {
        margin-top: 75px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 90px 160px;

        .GridCard {

            h1 {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

               
                height: 23px;
                
                
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 17.68px;
                line-height: 22px;

                img {
                    margin-right: 15px;
                }
            }

            p {
                height: 73px;
                
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                
                color: #858585;
            }
        }
    }

    button {
        position: absolute;
        width: 291.69px;
        height: 56.87px;
        
        background: #1A2131;
        box-shadow: -7px 10px 15px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        border: none;
        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16.25px;
        line-height: 57px;
        
        color: #FFFFFF;

        margin-top: 120px;
        left: calc(50% - (291.69px / 2));

        cursor: pointer;
    }
}