.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 990;
    padding: 0px 5%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .logoPic {
        width: 76px;
        height: 101px;
    }

    .biloul {
        margin-top: 20px;
    }

    h1 {
        color: #ffffff;
        font-style: italic;
        font-weight: 300;
        font-size: 20.5px;
        letter-spacing: 1em;
        margin-top: 20px;
    }
}

.Menu {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;
            margin: 0px 31px;

            a {
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
                color: #ffffff;
            }

            a::after {
                content: url(../../assets/Vector.png);
                margin-left: 5px;
            }

            
        }
    }
}

.Menu_Button {
    cursor: pointer;
}

.Menu_Mobile {
    z-index: 999;
    background-color: #1C2232;
    position: absolute;
    //top: 105px;
    top: -100%;
    right: 0px;
    

    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;

    transition: all 1s ease-in-out;
    
}

.null {
    transform: translateX(0%);

    
    display: none;
}

.active {
    display: flex;
    transform: translateX(0%);
    top: 105px;
}

@media only screen and (max-width: 700px) {
    

    .logo {
        .logoPic {
            width: 38px;
            height: 50.5px;
        }

        .biloul {
            height: 10px;
        }
    }
}