section { 
  width: 100%;
  padding: 20px 15% 0px;
}

#Section-One {
  background-color: #1A2131;
  
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 46, 49, 0.2) 0%, rgba(236, 46, 49, 0) 100%), #1A2131;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 170px;
}

#Section-Three {
  background-color: #1A2131;
  padding-top: 160px;
  padding-bottom: 120px;
}

#Section-Four {
  margin-top: 100px;
  margin-bottom: 250px;
}

#Section-Five {
  background-color: #121212;
  color: #ffffff;

  padding-top: 120px;
  padding-bottom: 120px;
}

#Section-six {
  background-color: #121212;
  padding-top: 120px;
  padding-bottom: 120px;
}